body {
    font-family: 'Gravitas One', cursive;
    margin: 0;
    padding: 0;
    color: rgb(124, 98, 87);
    background-image: url(img/desert3.svg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/******* Canvas and Mobile  ********/
canvas {
    display: block;
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .button-33 {
        min-width: 2rem;
        min-height: 0.5rem;
        padding: 3px 5px;
    }
    #fullscreenPanel img{
        display: none;
    }
}

@media only screen and (min-width :720px) {
    .touchButtons {
        display: none;
    }
}

@media only screen and (max-height: 560px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    .bgr h1 {
        display: none;
    }

    #fullscreenPanel img {
        display: none;
    }

    .instructions span {
        display: none;
        margin-top: 0;
    }
}

@media only screen and (min-height :561px) {
    .touchButtons {
        display: none;
    }
}

#gameArea {
    position: relative;
}

#controlPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

#controlPanel img {
    object-fit: contain;
    width: 24px;
    height: 24px;
    padding: 0.75rem;
    background-color: rgba(187, 104, 44, 0.55);
    z-index: 4;
}

#controlPanel:hover{
    background-color: rgba(185, 187, 44, 0.55);
}



.btn-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 100%;
    z-index: 2;
}

#controlPanel #btnleft {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

#controlPanel #btnright {
    position: absolute;
    bottom: 1rem;
    left: 8.5rem;
}

#controlPanel #btnthrow {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
}

#controlPanel #btnjump {
    position: absolute;
    bottom: 1rem;
    right: 8.5rem;
}

#restartGame {
    z-index: 99;
}

#fullscreenPanel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#fullscreenPanel img {
    object-fit: contain;
    width: 24px;
    height: 24px;
    padding: 0.75rem;
    background-color: rgba(187, 104, 44, 0.55);
}

#btnfullscreen {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

#btnfullscreen:hover{
    background-color: rgba(185, 187, 44, 0.55);
}

#btnexitfullscreen {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/******* Startscreen and Layout  ********/
.bgr {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startscreen {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    max-width: 720px;
    max-height: 480px !important;
}

#startscreen img {
    width: 100%;
    height: 100%;
}

#gameStartButton {
    width: 200px;
    z-index: 99;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    display: inline-block;
    font-family: 'Gravitas One', cursive;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-33 {
    position: absolute;
    top: 5%;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-44 {
    position: absolute;
    top: 1.5rem;
    right: 7rem;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 100;
}

.btn-44 a {
    text-decoration: none;
    color: green;
}

.button-33:hover {
    box-shadow: rgba(187, 127, 44, 0.55) 0 -25px 18px -14px inset, rgba(187, 104, 44, 0.25) 0 1px 2px, rgba(228, 96, 44, 0.25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#game-guide-container {
    top: 100px;
    position: absolute;
}

.game-guide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    width: 720px;
}

.hide {
    display: none;
}

/***** Options ******/

.instructions {
    position: absolute;
    width: 100%;
    top: 140px;
    left: 20px;
    max-width: 200px;
    font-size: 0.6rem;
}

.instructions span {
    padding-right: 2rem;
    padding-bottom: 0.25rem;
}